* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-list {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 2em;
  margin-top: 2em;
  background-color: #f5f5f5;
  font-family: sans-serif;
  width: 50%;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 1.8em;
}

li {
  list-style: none;
  background-color: white;
  border: 1px solid #e0e0e0;
  padding: 0.5em;
}

li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.new_task {
  margin-top: 1em;
  text-align: right;
}

.save_task {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em;
}

button {
  font-size: 1em;
  border: 1px solid rgb(88, 137, 180);
  border-radius: 5px;
  background-color: rgb(51, 121, 182);
  color: white;
  padding: 0.4em;
}

input[type="text"] {
  font-size: 1em;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 0.5em;
  width: 85%;
}

.todo-item {
  display: flex;
  justify-content: space-between;
}

.controls {
  display: flex;
}

.controls div {
  width: 1em;
  border-radius: 0.1em;
  color: white;
  text-align: center;
  cursor: pointer;
  user-select: none;
  margin-left: 0.2em;
}

.check {
  background: lightseagreen;
}

.remove {
  background: lightcoral;
}

.title.checked {
  text-decoration: line-through;
  color: #888;
}

.options {
  text-align: right;
  margin-bottom: 0.5em;
}
