* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 205,	102);
    font-size: 1.2em;	
}

#app {
    border: 0px solid #e0e0e0;
    border-radius: 5px;
    padding: 2em;
    margin-top: 2em;
    background-color: #f5f5f5;
    font-family: sans-serif;
    width: 40%;
    -webkit-box-shadow: 10px 10px 11px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 11px -2px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 11px -2px rgba(0,0,0,0.3);
    color: #888;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.5em;
    padding-bottom: 0.2em;
    font-size: 1.5em;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;;
}

li {
    list-style: none;
    border-bottom: 1px solid #e0e0e0;
    padding: 0.5em;
    user-select: none;
}

li .title_container div {
    display: inline-block;
}

li .color {
    width: 0.5em;
    height: 1.2em;
    margin-right: 0.5em;
    border-radius: 0.2em;
    opacity: 0.8;
    position: relative;
    top: 0.2em;
}

.new_task {
    margin-top: 1em;
    text-align: right;
}

.save_task {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}

button {
    font-size: 1.2em;
    width: 2em;
    height: 2em;
    border: 0;
    background-color: rgb(105, 185,	200)	;
    color: white;
    padding: 0.2em;
    border-radius: 50%;
    outline-style: none;
}

button:focus {
    outline-style: none;
}

input[type="text"] {
    font-size: 1em;
    background-color: #f5f5f5;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    padding: 0.5em;
    width: 85%;
    color: #888;
}

input[type=text]:focus {
    outline-style: none;
    border-bottom: 1px solid #e0e0e0;
}

.task {
    display: flex;
    justify-content: space-between;
}

.controls {
    display: flex;
}

.controls div {
    border-radius: 0.1em;
    width: 1em;
    color: #aaa;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin-left: 0.2em;
}

.task.done .title {
    color: #bbb;
    text-decoration: line-through;
}

.filters {
    padding-right: 0.4em;
    text-align: right;
    margin-bottom: 0.5em;
}
