<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="todo.css">
    <script src="todo.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>To do:</h1>
        <ul>
            <li v-for="todo in todos">
                {{ todo }}
            </li>
        </ul>
        <div class="new_task">
                Task:
                <input type="text" v-model="task" @keyup.enter="saveItem">
            <div class="save_task"><button @click="saveItem">Save item</button></div>
        </div>
    </div>
</body>
</html>