* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
#game {
    font-size: 1.2em;
    font-family: sans-serif;
    width: 80%;
    height: 80%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color: #eeeeee;
}
#letters {

}
#guessed {

}
#playground {
    width: 25%;
    height: 25%;
    position: relative;
}
#message {
    position: absolute;
    margin: auto;
    width: 20em;
}
#drawing {
    position: relative;
    height: 10em;
    width: 10em;
    left: 0;
    top: 0;
    font-size: 0.8em;
}
#drawing div {
    background-color: black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.draw {
    visibility: hidden;
}
#ground {
    position: absolute;
    bottom: 0;
    left: 2em;
    width: 7em;
    height: 0.5em;
}
#pillar {
    position: absolute;
    width: 0.5em;
    height: 10em;
    top: 0;
    left: 5em;
}
#bar {
    position: absolute;
    width: 3em;
    height: 0.5em;
    top: 0;
    left: 5em;
}
#rope {
    position: absolute;
    width: 0.2em;
    height: 2.5em;
    top: 0;
    left: 8em;
}
#head {
    position: absolute;
    background-color: white;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    top: 2.5em;
    right: 1em;
}
#body {
    position: absolute;
    width: 0.3em;
    height: 2.5em;
    top: 4em;
    right: 1.8em;
}
#left_arm {
    position: absolute;
    width: 0.1em;
    height: 1.5em;
    top: 4.3em;
    left: 8em;
    transform-origin: top left;
    transform: rotate(20deg);
}
#right_arm {
    position: absolute;
    width: 0.1em;
    height: 1.5em;
    top: 4.3em;
    left: 8em;
    transform-origin: top left;
    transform: rotate(-20deg);
}
#left_leg {
    position: absolute;
    width: 0.1em;
    height: 2em;
    top: 6.5em;
    left: 8em;
    transform-origin: top left;
    transform: rotate(20deg);
}
#right_leg {
    position: absolute;
    width: 0.1em;
    height: 2em;
    top: 6.5em;
    left: 8em;
    transform-origin: top left;
    transform: rotate(-20deg);
}