/* Webkit based browsers */
meter[value="0"]::-webkit-meter-optimum-value { background: red; }
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: lightgreen; }
meter[value="5"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="0"]::-moz-meter-bar { background: red; }
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: lightgreen; }
meter[value="5"]::-moz-meter-bar { background: green; }