<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="xz.css">
    <script src="xz.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
</head>
<body>
    <div id="app">
        <div class="table" id="app">
            <div v-for="(cell, index) in table" v-on:click="move(index)">
                {{ cell }}
            </div>
        </div>
        <div class="end" v-if="winner">You win!</div>
    </div>
</body>
</html>