html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.container {
  width: 80%;
  height: 80%;
  position: relative;
  top: 2%;
  border-color: darkgray;
  border-width: medium;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div {
  position: absolute;
  font-size: 1.5em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  text-align: center;
}

.score {
  font-size: 2em;
  font-weight: bold;
  color: brown;
  text-align: right;
  padding-top: 2%;
  padding-right: 10%;
}
