meter[value="0"]::-webkit-meter-optimum-value { background: red; }
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: orange; }
meter[value="3"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="4"]::-webkit-meter-optimum-value { background: lightgreen; }
meter[value="5"]::-webkit-meter-optimum-value { background: green; }